# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
.terraform.lock.hcl

# Secrets and credentials
*.key
*.pem
*.json.key
authorized_key.json
sa-key.json
kubeconfig
kubeconfig-*
.env
.env.*

# Local files
.DS_Store
*.log